#analysisNavbar{
font-size: 1em;
font-weight:bold;
margin-bottom: 0px;
}
.page-title {  
font-size: 1em;
color: #A33307;
letter-spacing: 2px;
text-align:center;
margin-top: 10px;
}
h3,h4{
font-weight: bold;
color:#760001;
}
h5{
  font-weight: bold;
  color: #760001;
  }
h6{
font-weight: bold;
color: #000;
font-size: small;
}
table{
margin: auto;
width: 100%;
border-collapse: collapse;
font-weight:bold;
color: #000;
font-size: small;
background-color: #f7f0f0;
}
th,td{
border: 1px solid #000;padding: 5px;
margin: auto;
}

.well{
/*background-color:lightcyan;*/
background-color: aliceblue;

font-weight:600;
font-size: small;
}
.well label{
font-weight:bold; 
color: #000;
font-size: small;
}
.nav li .disabled {
background-color:#11ffee00 !important;
color: #333 !important;
cursor: not-allowed !important;
border-color: #aaa !important;
}

#IDVisParameters, #NewSampleViewer, #detailPlot{
  display: flex;
  flex: 2;
  flex-direction: row;
  
}

.info{
/*display: flex;*/
display: inline-block; 
align-items: center;
}
